<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header"}}
    <link href="css/dashboard.css" rel="stylesheet">

    <title>Dashboard - Sheet Music Organizer</title>
  </head>

  <body>
    {{template "navbar"}}

    <div class="container">
      <!-- Header -->
      <h1 id="page_header">IOWho?</h1>
      <hr>

      <div id="alerts"></div>

      <!-- Tutorial alerts -->
      <div class="alert alert-info hidden tutorial" role="alert" id="dashboard_add_contact_tutorial_alert">
        <strong>Dashboard</strong>
        <div>
          This is the dashboard for your dashboard.
          You can see all the transactions and contacts in this dashboard here.
          <br>
          <span class="Click">Click</span> "New contact" to start your dashboard.
          <br>
          <br>
          <a href="javascript:;" class="alert-link hide_tutorial">Hide tutorial</a>
        </div>
      </div>
      <div class="alert alert-info hidden tutorial" role="alert" id="dashboard_add_transaction_tutorial_alert">
        <strong>Dashboard</strong>
        <div>
          Now you can organize your transactions with contacts.
          <br>
          <span class="Click">Click</span> "New transaction" to continue.
          <br>
          <br>
          <a href="javascript:;" class="alert-link hide_tutorial">Hide tutorial</a>
        </div>
      </div>
      <div class="alert alert-info hidden tutorial" role="alert" id="dashboard_complete_tutorial_alert">
        <strong>Tutorial complete!</strong>
        <div>
          <p>
            Congratulations! Now you know how to add transactions and contacts to your dashboard.
            Keep adding and contactging transactions and your dashboard will be organized in no time!
          </p>
          <p>
            Here are some more tips to get you started:
          </p>
          <ul style="margin-top: -.5rem">
            <li><span class="Click">Click</span> on a transaction or contact to view more details about it.</li>
            <li>You can edit the item you are viewing by <span class="clicking">clicking</span> the Edit button in the Options menu.</li>
            <li>Similarly, you can delete an item by <span class="clicking">clicking</span> the Delete button in the Options menu. This action is immediate and permanent, so make sure you're absolutely certain.</li>
            <li>Use setlists to create a list of transactions to plan and share future performances.</li>
            <li>Customize your dashboard  by <span class="clicking">clicking</span> on Settings in the Options menu.</li>
            <li>Invite members to view and manage your dashboard with you  by <span class="clicking">clicking</span> on Members in the Options menu from the dashboard.</li>
            <li>You can quickly search for a transaction by keyword using the quick search at the top of the screen at any time.</li>
            <li>Use Advanced Search to search for transactions based on keywords, exclude keywords, contacts, and last performed date by <span class="clicking">clicking</span> the Advanced Search button in the Options menu of the dashboard or <span class="click">clicking</span> the link in the quick search results page.</li>
          </ul>
          <p>That's it! If you have any questions, don't hesitate to email <a href="mailto:support@sheetmusicorganizer.com">support@sheetmusicorganizer.com</a> for assistance.</p>
          <a href="javascript:;" class="alert-link hide_tutorial">Close tutorial</a>
        </div>
      </div>

      <!-- Main view -->
      <div class="row row-cols-2">
        <!-- IOU list -->
        <div id="transaction_container" class="col-sm-6">
          <h3>
            Recent IOUs
            <!--a href="#" id="filter_link"><img src="/img/filter.svg" id="filter" alt="filter icon" title="Filter transaction list"></a-->
          </h3>
          
          <div id="transactions" class="list-group"></div>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_transaction_modal" id="add_transaction">New IOU</button></div>
        </div>
  
        <!-- Contacts -->
        <div id="contact_container" class="col-sm-6">
          <h3>Contacts</h3>
          <div id="contacts" class="list-group"></div>
          <div class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_contact_modal" id="add_contact">New Contact</button></div>
        </div>
      </div>
    
      {{template "footer"}}

    <!-- #region Modals -->

    <!-- #region Add transaction -->
    <!-- Add transaction modal -->
    <div class="modal fade" id="add_transaction_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add transaction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add_transaction_form">
            <div class="form-group">
              <label for="description" class="col-form-label">Description:</label>
              <input type="text" class="form-control" id="description" required placeholder="(required)">
            </div>
            <div class="form-group">
              <label for="amount" class="col-form-label">Amount:</label>
              <input type="number" class="form-control" id="amount" step=".01">
            </div>
            <div class="form-group">
              <label for="timestamp" class="col-form-label">Timestamp:</label>
              <input type="date" class="form-control" id="timestamp">
            </div>
            <div class="form-group">
              <label for="notes" class="col-form-label">Notes:</label>
              <textarea class="form-control" id="notes"></textarea>
            </div>

            <!-- This hidden submit button is to allow the form to be submitted by pressing enter in any of the text fields. -->
            <button type="submit" class="hidden"></button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="add_transaction_modal_button">Add transaction</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Add transaction wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="add_transaction_wait_modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adding transaction...</h5>
        </div>
        <div class="modal-body">
          <p>Please wait while this transaction is added...</p>
        </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Add contact -->
    <!-- Add contact modal -->
    <div class="modal fade" id="add_contact_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add_contact_form">
          <div class="form-group">
            <label for="contact_name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="contact_name" required placeholder="(required)">
          </div>
          <div class="form-group">
            <label for="contact_email" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="contact_email">
          </div>
          <div class="form-group">
            <label for="contact_phone" class="col-form-label">Phone:</label>
            <input type="tel" class="form-control" id="contact_phone">
          </div>
          <div class="form-group">
            <label for="contact_notes" class="col-form-label">Notes:</label>
            <textarea class="form-control" id="contact_notes"></textarea>
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="add_contact_modal_button">Create contact</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Add contact wait modal -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="contact_wait" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adding Contact...</h5>
        </div>
        <div class="modal-body">
          <p>Please wait while this contact is created...</p>
        </div>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    
    <!-- Settings modal -->
    <div class="modal fade" id="settings_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">dashboard Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-info">
              <img src="/img/alert-circle-info.svg" alt="Alert circle" id="alert_info_icon">
              These settings are saved locally on your machine, and will only affect
              the dashboard for this dashboard on this device.
              Clearing your cookies or local storage for this browser will reset your settings.
            </div>
            <form>
              <h4>Hide contacts</h4>
              <p>
                Choose which contacts to hide from the dashboard.
                Selected contacts and transactions with those contacts will not be shown on the dashboard.
                Songs will still appear in search results.
              </p>
              <div id="hide_contact_list"></div>

              <h4>Sort order</h4>
              <p>
                Choose the order which contacts and transactions are displayed on the dashboard.
              </p>
              <div id="sort_container">
                <div id="name_sort">
                  <h5>Songs</h5>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="transaction_sort_order" id="transaction_sort_name" value="name">
                    <label class="form-check-label" for="transaction_sort_name">
                      Name
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="transaction_sort_order" id="transaction_sort_added" value="date_added">
                    <label class="form-check-label" for="transaction_sort_added">
                      Date added
                    </label>
                  </div>
                </div>
                <div id="contact_sort">
                  <h5>Tags</h5>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="contact_sort_order" id="contact_sort_name" value="name">
                    <label class="form-check-label" for="contact_sort_name">
                      Name
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="contact_sort_order" id="contact_sort_added" value="date_added">
                    <label class="form-check-label" for="contact_sort_added">
                      Date added
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="settings_save_button">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- #endregion -->
  
    <!-- #region Scripts -->
    <script src="/js/dashboard.js" type="module"></script>
    <!-- #endregion -->
  </body>
</html>
